.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 500px;
  width: 500px;
  border: none;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
  border: none;
}


.mapboxgl-canvas{
  border: none;
}

.map-container{
border: none;
  }

.mapboxgl-map{
    border: none;
}


.react-geocoder input{
  width: 400px;
  height: 35px;
  z-index: -4;
}

.react-geocoder{
  float: left;
  margin-top: 40px;
  opacity: .8;
}



.react-geocoder-results {
  background-color: red;

    float: right;
}



 /* .react-geocoder-item{
  background-color: white;
    width: 600px;
      z-index: 4;
      float: right;
} */
